
/* 
    Created on : 1 Feb, 2020, 2:24:52 PM
    Author     : manzo
*/

body{
   margin-top: 0;
   margin-left: 0;
   margin-right: 0;
   background-color:  #d9d9d9;
}
.Header{
    background-color: green;
    height: 70px;
    width: 100%;
    overflow: hidden;

}
.searh_bar input[type=text] {
  padding: 12px;
  margin-top: 12px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  margin-left: 600px;
  width: 30%;
  background: #f1f1f1;
  border-radius: 1px/1px;
}

.Header button {
  float: right;
  
  margin-right: 263px;
  width: 4%;
  margin-top: 12px;
  padding: 12px;
  background: #f1f1f1;
  color: green;
  border-radius: 1px/1px;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
    
}
.Header button:hover{
    size: 15px;
    background-color:  #f2e617;
    color: black;
}
.Header a{
    float: right;
    margin-right: -110px;
    padding: 15px 0px;
    background-color: green;
    cursor: pointer;
    color: white;
    font-size: 50px;
    margin-top: 12px;
    border: none;
    text-align: center;
    transition: all 0.3s ease;
}
/* ------ navbar -------- */
.grocery_drop{
    float: left;
    overflow: hidden;
}
.grocery_drop  .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color:black;
  padding: 12px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-left: 0px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar a:hover, .grocery_drop:hover .dropbtn {
  background-color: white;
  color: black;
}
.navbar.dropdown-content a:hover {
  background-color: white;
  color: black;
}
.grocery_drop:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .grocery_drop .dropbtn {
    display: none;
  
  }
}
/* --------------Search responsive -----------*/
@media screen and (max-width: 600px) {
   .Header  input[type=text] {
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .Header input[type=text] {
    border: 1px solid #ccc;
  }
}

/* -------------- cart responsive -----------*/
@media screen and (max-width: 600px) {
  .Header a {
    float: none;
    display: block;
  }
}

/* --------------Search button responsive -----------*/
@media screen and (max-width: 600px) {
   .Header  button{
    float: none;
    display: block;
    width: 100%;
    margin: 0;
    padding: 18px;
  }
  .Header button{
    border: 1px solid #ccc;
  }
}

.searh_bar a{
    size: 20px;
}
.signup_login_area{
    float: right;
}


.navbar {
  width: 100%;
  background-color: gainsboro;
  
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: green;
  color: white;
  padding: 12px 16px;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 600px) {
.navbar.responsive {position: relative;}
   .navbar .responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .grocery_drop {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* Navbar links */
.Header a {
  float: right;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.Header a:hover {
  background-color: green;
  color: white;
  padding: 12px 16px;
}


/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .Header a {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 600px) {
.Header.responsive {position: relative;}
   .Header .responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  .Header.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .Header.responsive .grocery_drop {float: none;}
  .Header.responsive .dropdown-content {position: relative;}
  .Header.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/* ------Categories container */
.Categories_container{
    height: 350px;
    margin-top: 5px;
    width: 100%;
    color: black;
    background-color: white;
}
.pic{
    height: 350px;
    width: 100%;
}
.left_container{
    float: left;
    height: 800px;
    width: 25%;
    background-color: white;
    color: black;
    margin-top: 5px;
    margin-left: 30px;
}
.product_section{
    float: right;
    height: 800px;
    width: 70.3%;
    margin-right: 30px;
    background-color: white;
    color: black;
    margin-top: 5px;
}
.footer_section{
    float: none;
    height: 300px;
    width: 100%;
    background-color:  #272727;
    color: black;
    margin-top: 808px;   
}
.footer_left_container{
    float: left;
    width: 25%;
    color: white;
    margin-left: 10%;
    margin-top: 20px;
        
}
.footer_right_container{
    float: right;
    margin-right: 20px;
    width: 25%;
    color: white;
    margin-top: 20px;
    
}
.footer_center_container{
    margin-top: 20px;
    float: left;
    width: 25%;
    color: white;
    margin-left: 10%;
}